/.metadata/
/*.project
/*.suo
/*.puo
/*.intellisense.cache
/php.ini
/.httpd.conf

# local config
application/config/database.php
application/config/config.php
.idea/*
node_server/*.log
node_twitter/*.log
.DS_Store

*.xcuserstate
