.DS_Store

application/config/config.php
application/config/constants.php
application/config/mongodb.php
application/config/twilio.php

application/third_party/key/rsa_1024_priv.pem
application/third_party/key/rsa_1024_pub.pem

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

.idea/*

image/cache/*

node_modules/*
.sass-cache/*
