<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="On" />
    <trace enabled="true" pageOutput="true" />
  </system.web>
  <appSettings>
    <add key="ClientId" value="ffc0faac-8ed4-42c7-9669-3b4f614539ed" />
    <add key="ClientSecret" value="2Mf9o2UIe5yMTGConSPp3zLe/WWZrfYDB+vDZMEwBkI=" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--Used by app for SharePoint-->
        <binding name="secureBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="https" bindingConfiguration="secureBinding" />
    </protocolMapping>
    <behaviors>
      <serviceBehaviors>
        <behavior name="debug">
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="PlaybasisWeb.Services.AppEventReceiver" behaviorConfiguration="debug" />
    </services>
  </system.serviceModel>
</configuration>