<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"><meta name="viewport" content="width=320, target-densitydpi=device-dpi">
    <title></title>
    <style type="text/css">
    </style>
</head>
<body>
<table width="100%" bgcolor="#f1f1f1" cellpadding="0" cellspacing="0" border="0" id="background-table">
    <tbody>
    <tr valign="top" align="center" >
        <td>
            <table width="600" bgcolor="#fff" cellpadding="0" cellspacing="0" border="0" class="mail-content" style="margin:50px 0px;box-shadow: 2px 2px 2px #e8e8e8;-moz-box-shadow: 2px 2px 2px #e8e8e8;-webkit-box-shadow: 2px 2px 2px #e8e8e8;">
                <tbody>
                <tr>
                    <td>
                        <table width="270" bgcolor="#fff" cellpadding="0" cellspacing="0" border="0" class="mail-content">
                            <tr>
                                <td>
                                    <img src="https://www.pbapp.net/images/playbasis-logo.jpg" style="margin-top:28px;margin-left:20px;margin-bottom:15px;">
                                </td>

                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="https://www.pbapp.net/images/head-bg.jpg" >
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" bgcolor="#fff" cellpadding="40" cellspacing="0" border="0" class="mail-content">
                            <tr>
                                <td>
                                    <p style="font-family:Helvetica;">Dear {firstname} {lastname},</p>
                                    <div style="font-family:Helvetica;font-size:16px;color:#666;">
                                        
                                        <!-- {message} -->

                                        <p>This is to confirm your successful payment to Playbasis.<br>
                                            Here are the details of your transaction:
                                        </p>
                                        <table cellpadding="5" style="color:#333;">
                                            <tr>
                                                <td style="font-weight: bold;text-align: right;">Merchant:</td>
                                                <td>Playbasis</td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight: bold;text-align: right;">Transaction ID:</td>
                                                <td>{transaction_id}</td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight: bold;text-align: right;">Transaction date and time:</td>
                                                <td>{date}</td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight: bold;text-align: right;">Plan:</td>
                                                <td>{plan_name}</td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight: bold;text-align: right;">Payment amount: </td>
                                                <td>{plan_price} USD</td>
                                            </tr>
                                        </table>

                                    </div>
                                    <p style="font-family:Helvetica;font-size:14px;color:#999;font-style:italic;text-align: right;">The Playbasis Team</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#424252" align="center">
                        <a href="http://www.playbasis.com" target="_blank" style="font-family:Helvetica;font-size:12px;color:#999;padding:20px;text-decoration:none;line-height:40px;">www.playbasis.com</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>