<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"><meta name="viewport" content="width=320, target-densitydpi=device-dpi">
    <title></title>
    <style type="text/css">
    </style>
</head>
<body>
<table width="100%" bgcolor="#f1f1f1" cellpadding="0" cellspacing="0" border="0" id="background-table">
    <tbody>
    <tr valign="top" align="center" >
        <td>
            <table width="600" bgcolor="#fff" cellpadding="0" cellspacing="0" border="0" class="mail-content" style="margin:50px 0px;box-shadow: 2px 2px 2px #e8e8e8;-moz-box-shadow: 2px 2px 2px #e8e8e8;-webkit-box-shadow: 2px 2px 2px #e8e8e8;">
                <tbody>
                <tr>
                    <td>
                        <table width="270" bgcolor="#fff" cellpadding="0" cellspacing="0" border="0" class="mail-content">
                            <tr>
                                <td>
                                    <img src="https://www.pbapp.net/images/playbasis-logo.jpg" style="margin-top:28px;margin-left:20px;margin-bottom:15px;">
                                </td>

                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="https://www.pbapp.net/images/head-bg.jpg" >
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" bgcolor="#fff" cellpadding="40" cellspacing="0" border="0" class="mail-content">
                            <tr>
                                <td>
                                    <p style="font-family:Helvetica;">Dear {firstname} {lastname},</p>
                                    <div style="font-family:Helvetica;font-size:16px;color:#666;">
                                        
                                        <!-- {message} -->

                                        <p>
                                        Your registration with Playbasis is confirmed and complete.<br>
                                        Thank you for subscribing the plan {plan_name}.<br>
                                        We are looking forward to hearing from you soon.
                                        </p>
                                        <p style="text-align: center;">
                                            <strong style="color:#333;">Payment Detail</strong>
                                        </p>
                                        <table cellpadding="5" style="color:#333;">
                                            <tr>
                                                <td style="font-weight: bold;text-align: right;">Your payment reference number:</td>
                                                <td>{reference_number}</td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight: bold;text-align: right;">Your payment has been set up on:</td>
                                                <td>{date}</td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight: bold;text-align: right;">Payment channel:</td>
                                                <td>PayPal</td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight: bold;text-align: right;">Monthly payment price:</td>
                                                <td>{plan_price} USD</td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight: bold;text-align: right;">Payment status:</td>
                                                <td>Confirmed</td>
                                            </tr>
                                        </table>

                                    </div>
                                    <p style="font-family:Helvetica;font-size:14px;color:#999;font-style:italic;text-align: right;">The Playbasis Team</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#424252" align="center">
                        <a href="http://www.playbasis.com" target="_blank" style="font-family:Helvetica;font-size:12px;color:#999;padding:20px;text-decoration:none;line-height:40px;">www.playbasis.com</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>