<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=320, target-densitydpi=device-dpi">
        <title></title>
        <style type="text/css"></style>
    </head>
    <body>
        <table width="100%" bgcolor="#f1f1f1" cellpadding="0" cellspacing="0" border="0" id="background-table" style="font-family:Helvetica;">
            <tbody>
                {CANNOT_VIEW_EMAIL}
                <tr valign="top" align="center">
                    <td>
                        <table width="600" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" class="mail-content" style="margin:20px 0px;box-shadow: 2px 2px 2px #e8e8e8;-moz-box-shadow: 2px 2px 2px #e8e8e8;-webkit-box-shadow: 2px 2px 2px #e8e8e8;border-collapse: collapse;">
                            <tbody>
                                <tr>
                                    <td>
                                        <table bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0" class="mail-content">
                                            <tbody><tr>
                                                <td width="30"></td>
                                                <td height="90" width="270">
                                                    <img src="{STATIC_IMAGE_URL}/images/playbasis-logo.jpg">
                                                </td>
                                                <td width="150"></td>
                                                <td width="130" align="right">
                                                    <table border="0" cellspacing="0" cellpadding="0">
                                                        <tbody><tr>
                                                            <td align="right">
                                                                <a href="https://twitter.com/playbasis" target="_blank" style=""><img src="{STATIC_IMAGE_URL}/images/tw-btn.jpg"></a>
                                                                <a href="https://www.facebook.com/Playbasis" target="_blank" style=""><img src="{STATIC_IMAGE_URL}/images/fb-btn.jpg"></a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="right" style="color:#666666;font-size:14px;">
                                                                +66-90-098-9153
                                                            </td>
                                                        </tr>
                                                    </tbody></table>
                                                </td>
                                                <td width="20">
                                                    
                                                </td>
                                            </tr>
                                        </tbody></table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="line-height:0">
                                        <img src="{STATIC_IMAGE_URL}/images/head-playbasis-weekly.jpg">
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <table width="100%" cellpadding="15" cellspacing="0" border="0">
                                            <tbody><tr>
                                                <td style="color:#999999;font-size:13px;" align="center" >
                                                   <span style="background-color:#0a92d9;border-radius:4px;color:#fff;font-size:16px;padding:5px 15px;">{FROM}</span>
                                                    to 
                                                   <span style="background-color:#0a92d9;border-radius:4px;color:#ffffff;font-size:16px;padding:5px 15px">{TO}</span>
                                                </td>
                                            </tr>
                                        </tbody></table>
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td>
                                        <table width="100%" cellpadding="20" cellspacing="0" border="0" style="border-bottom:1px solid #cccccc;border-top:1px solid #cccccc">
                                            <tbody><tr>
                                                <td width="50%" style="border-right:1px solid #cccccc;">
                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                        <tbody><tr>
                                                            <td valign="top" height="40" align="center">
                                                               <strong style="color:#333333;font-size:24px;">TOTAL USERS</strong>
                                                            </td>
                                                        </tr>
                                                        
                                                        <tr>
                                                            <td valign="middle" align="center">
                                                                <table cellpadding="5" cellspacing="0" border="0">
                                                                    <tbody><tr>
                                                                        <td><strong style="color:#503091;font-size:36px">{GLOBAL_TOTAL_USER_TOTAL}</strong></td>
                                                                        <td align="center" valign="baseline">
                                                                            {GLOBAL_TOTAL_USER_UPDOWN}<br>{GLOBAL_TOTAL_USER_PERCENT}
                                                                        </td>
                                                                    </tr>
                                                                </tbody></table>
                                                            </td>
                                                        </tr>
                                                    </tbody></table>
                                                </td>
                                                <td width="50%"><table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                    <tbody><tr>
                                                        <td colspan="2" height="40" valign="top">
                                                            <img src="{STATIC_IMAGE_URL}/images/icon-user.jpg" style="vertical-align: middle;"> <strong style="font-size:15px;">NEW USERS</strong>
                                                        </td>
                                                    </tr>
                                                    <tr style="color:#999999;font-size:12px">
                                                        <td width="60%">Total of the week</td>
                                                        <td width="40%">Daily Average</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <table cellpadding="5" cellspacing="0" border="0">
                                                                <tbody><tr>
                                                                    <td><strong style="color:#503091;font-size:28px">{GLOBAL_NEW_USER_TOTAL}</strong></td>
                                                                    <td align="center" valign="baseline">
                                                                        {GLOBAL_NEW_USER_UPDOWN}<br>{GLOBAL_NEW_USER_PERCENT}
                                                                    </td>
                                                                </tr>
                                                            </tbody></table>
                                                        </td>
                                                        <td>
                                                            <table cellpadding="5" cellspacing="0" border="0">
                                                                <tbody><tr>
                                                                    <td><strong style="color:#999999;font-size:28px">{GLOBAL_NEW_USER_AVERAGE}</strong></td>
                                                                    <td align="center" valign="baseline">
                                                                    </td>
                                                                </tr>
                                                            </tbody></table>
                                                        </td>
                                                    </tr>
                                                </tbody></table></td>
                                            </tr>
                                        </tbody></table>
                                    </td>
                                </tr>
                                <!-- Row -->
                                
                                <tr>
                                    <td>
                                        <table width="100%" cellpadding="20" cellspacing="0" border="0" style="border-bottom:1px solid #cccccc">
                                            <tbody><tr>
                                                <td width="50%" style="border-right:1px solid #cccccc;">
                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                        <tbody><tr>
                                                            <td colspan="2" height="40" valign="top">
                                                                <img src="{STATIC_IMAGE_URL}/images/icon-day.jpg" style="vertical-align: middle;"> <strong style="font-size:15px;">DAILY ACTIVE USERS (DAU)</strong>
                                                            </td>
                                                        </tr>
                                                        <tr style="color:#999999;font-size:12px">
                                                            <td align="center" >Average</td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center">
                                                                <table cellpadding="5" cellspacing="0" border="0">
                                                                    <tbody><tr>
                                                                        <td><strong style="color:#503091;font-size:28px">{GLOBAL_DAU_TOTAL}</strong></td>
                                                                        <td align="center" valign="baseline">
                                                                            {GLOBAL_DAU_UPDOWN}<br>{GLOBAL_DAU_PERCENT}
                                                                        </td>
                                                                    </tr>
                                                                </tbody></table>
                                                            </td>
                                                        </tr>
                                                    </tbody></table>
                                                </td>
                                                <td width="50%"><table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                    <tbody><tr>
                                                        <td colspan="2" height="40" valign="top">
                                                            <img src="{STATIC_IMAGE_URL}/images/icon-month.jpg" style="vertical-align: middle;"> <strong style="font-size:15px;">MONTHLY ACTIVE USERS (MAU)</strong>
                                                        </td>
                                                    </tr>
                                                    <tr style="color:#999999;font-size:12px">
                                                        <td align="center">Average</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center">
                                                            <table cellpadding="5" cellspacing="0" border="0">
                                                                <tbody><tr>
                                                                    <td><strong style="color:#503091;font-size:28px">{GLOBAL_MAU_TOTAL}</strong></td>
                                                                    <td align="center" valign="baseline">
                                                                        {GLOBAL_MAU_UPDOWN}<br>{GLOBAL_MAU_PERCENT}
                                                                    </td>
                                                                </tr>
                                                            </tbody></table>
                                                        </td>
                                                    </tr>
                                                </tbody></table></td>
                                            </tr>
                                        </tbody></table>
                                    </td>
                                </tr>
                                <!-- Row -->
                                <tr>
                                    <td>
                                        <img src="{STATIC_IMAGE_URL}/images/shadow.jpg">
                                    </td>
                                </tr>
                                {CLIENTS}
                                <!-- Row -->
                                <tr>
                                    <td valign="top" style="border-right:1px solid #cccccc;">
                                        <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                            <tbody>
                                            <tr >
                                                <td>
                                                    <table width="100%" cellpadding="5" cellspacing="0" border="0" style="background-color:#000000;color:#ffffff">
                                                        <tr>
                                                            <td width="20"></td>
                                                            <td align="left"><h2 style="font-size:24px;margin:0;">{SITE_NAME}</h2></td>
                                                            <td align="right">
                                                                <table cellpadding="5" cellspacing="0" border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                               <span style="color:#999999">TOTAL USERS :</span> <strong style="color:#ffffff;font-size:28px">{TOTAL_USER_TOTAL}</strong>
                                                                            </td>
                                                                            <td align="center" valign="baseline">
                                                                                {TOTAL_USER_UPDOWN}<br>{TOTAL_USER_PERCENT}
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="10"></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td >
                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                        <tr>
                                                            <td style="border-right:1px solid #cccccc;border-bottom:1px solid #cccccc;">
                                                                <table width="100%" cellpadding="5" cellspacing="0" border="0">
                                                                    <tr style="color:#333333;font-size:14px">
                                                                        <td align="center" ><strong>New Users</strong></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="center">
                                                                            <table cellpadding="5" cellspacing="0" border="0">
                                                                                <tbody><tr>
                                                                                    <td><strong style="color:#503091;font-size:28px">{NEW_USER_TOTAL}</strong></td>
                                                                                    <td align="center" valign="baseline">
                                                                                        {NEW_USER_UPDOWN}<br>{NEW_USER_PERCENT}
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody></table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td style="border-right:1px solid #cccccc;border-bottom:1px solid #cccccc;">
                                                                <table width="100%" cellpadding="5" cellspacing="0" border="0">
                                                                    <tr style="color:#333333;font-size:14px">
                                                                        <td align="center"><strong>Daily Active Users (DAU)</strong></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="center">
                                                                            <table cellpadding="5" cellspacing="0" border="0">
                                                                                <tbody><tr>
                                                                                    <td><strong style="color:#503091;font-size:28px">{DAU_AVERAGE}</strong></td>
                                                                                    <td align="center" valign="baseline">
                                                                                        {DAU_UPDOWN}<br>{DAU_PERCENT}
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody></table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td style="border-bottom:1px solid #cccccc;">
                                                                <table width="100%" cellpadding="5" cellspacing="0" border="0">
                                                                    <tr style="color:#333333;font-size:14px">
                                                                        <td align="center"><strong>Monthly Active Users (MAU)</strong></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="center">
                                                                            <table cellpadding="5" cellspacing="0" border="0">
                                                                                <tbody><tr>
                                                                                    <td><strong style="color:#503091;font-size:28px">{MAU_AVERAGE}</strong></td>
                                                                                    <td align="center" valign="baseline">
                                                                                        {MAU_UPDOWN}<br>{MAU_PERCENT}
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody></table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border-right:1px solid #cccccc;border-bottom:1px solid #cccccc;">
                                                                <table width="100%" cellpadding="5" cellspacing="0" border="0">
                                                                    <tr style="color:#333333;font-size:14px">
                                                                        <td align="center"><strong>Actions</strong></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="center">
                                                                            <table cellpadding="5" cellspacing="0" border="0">
                                                                                <tbody><tr>
                                                                                    <td><strong style="color:#503091;font-size:28px">{ACTIONS_TOTAL}</strong></td>
                                                                                    <td align="center" valign="baseline">
                                                                                        {ACTIONS_UPDOWN}<br>{ACTIONS_PERCENT}
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody></table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td style="border-right:1px solid #cccccc;border-bottom:1px solid #cccccc;">
                                                                <table width="100%" cellpadding="5" cellspacing="0" border="0">
                                                                    <tr style="color:#333333;font-size:14px">
                                                                        <td align="center"><strong>Badges</strong></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="center">
                                                                            <table cellpadding="5" cellspacing="0" border="0">
                                                                                <tbody><tr>
                                                                                    <td><strong style="color:#503091;font-size:28px">{BADGES_TOTAL}</strong></td>
                                                                                    <td align="center" valign="baseline">
                                                                                        {BADGES_UPDOWN}<br>{BADGES_PERCENT}
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody></table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td style="border-bottom:1px solid #cccccc;">
                                                                <table width="100%" cellpadding="5" cellspacing="0" border="0">
                                                                    <tr style="color:#333333;font-size:14px">
                                                                        <td align="center"><strong>Rewards</strong></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="center">
                                                                            <table cellpadding="5" cellspacing="0" border="0">
                                                                                <tbody><tr>
                                                                                    <td><strong style="color:#503091;font-size:28px">{ITEMS_TOTAL}</strong></td>
                                                                                    <td align="center" valign="baseline">
                                                                                        {ITEMS_UPDOWN}<br>{ITEMS_PERCENT}
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody></table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="{STATIC_IMAGE_URL}/images/shadow.jpg" width="100%">
                                                </td>
                                            </tr>
                                        </tbody></table>
                                    </td>
                                </tr>
                                {/CLIENTS}

                                <tr>
                                    <td bgcolor="#424252" align="center">
                                        <a href="http://www.playbasis.com/" target="_blank"><img src="{STATIC_IMAGE_URL}/images/footer-playbasis-btn.jpg"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>
            </tbody>
        </table>

    </body>
</html>