<!DOCTYPE html>
<html>
<head>
    <title>Playbasis User Account Validation</title>
    <style>
        body{
            font-family: Arial;
        }
        img {
            margin: 0 auto;
        }

        h1, h2{
            text-align: center;
        }

        a{
            font-size: 20px;
        }
        #container{
            width:500px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div id="container">
    <img src="http://www.playbasis.com/assets/img/playbasis.png" alt="Playbasis" title="Playbasis"/>
    <h1>Hello {firstname} {lastname}!</h1>
    <br/>
    <br/>
    <h2>Your account has been registered, please wait for us to activate it.:</h2>
    <h2>{url}</h2>
    Your username is: {username}
</div>
</body>
</html>