.clear{ clear:both;}


.topbar_area{height: 40px;text-align: left;color: white;top: 0;left: 0;position: fixed;width: 100%; background: black;}
.topbar_area img{height: 38px;margin: 2px 0px 0px 8px;}


.menu_area {/*float: right;*/display:none; width: 20%;height: 100%;margin-top: 40px;outline: 1px solid #ccc;float: left }
.readable_area{/*float: right;*//*width: 80%;*/width: 100%; height: 100%;margin-top: 25px;outline: 1px solid #ccc;float: left;padding:4px 4px 12px 4px;}




/*Switch view*/
#detail{float: right;margin: -4px;padding: 8px; padding-left: 28px; -webkit-border-bottom-left-radius: 44px;-moz-border-radius-bottomleft: 44px;border-bottom-left-radius: 44px;}
#api {float: left;margin: -4px;padding: 8px; padding-right: 28px;-webkit-border-bottom-right-radius: 44px;-moz-border-radius-bottomright: 44px;border-bottom-right-radius: 44px;}

.switch{
	cursor: pointer;
	color:#fff;
	font-size: 1.1em;
	font-weight: bold;

background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(left, #1e5799 0%, #7db9e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1e5799), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #1e5799 0%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #1e5799 0%,#7db9e8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #1e5799 0%,#7db9e8 100%); /* IE10+ */
background: linear-gradient(to right, #1e5799 0%,#7db9e8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */

}

.h-after-switch{float: right;}


h2.topic_header{color: rgb(74, 74, 199);margin-bottom: 8px;margin-left: 4px;}
p.p_wrap{padding: 4px 12px; }

h3{/*margin-left: 12px;font-size: 1.1em;font-weight: lighter;text-decoration: underline;color: #666;font-style: italic;*/}



/*!-======= [ Custom] ======== */
body{
	padding-top: 80px;
	background: #f5f5f5 !important;
	margin-top: 0;
}

.navbar{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 80px;
	background: rgba(255,255,255,1);
	box-shadow: 0px 3px 5px rgba(0 ,0 ,0 ,.1);
	-moz-box-shadow: 0px 3px 5px rgba(0 ,0 ,0 ,.1);
	-webkit-box-shadow: 0px 3px 5px rgba(0 ,0 ,0 ,.1);
	z-index: 10;
}
.readable_area{
	margin-top: 0;
	outline: none;
}
.nav-container{
	width: 960px;
	margin: 0 auto;
}

.logo {
	margin-top:0px;
	text-indent: -9999px;
	width: 220px;
	height: 80px;
	display: block;
	background-image: url("../images/pb-logo-alt.png");
}
.navbar-nav{
	margin-top: 19px;
	float: right;
	margin-right: 15px;
}
.navbar-nav li{
	display: inline-block;
}
.navbar-nav li a{
	padding: 10px;
	display: block;
	line-height: 25px;
	font-size: 16px;
	color: #000;
	text-decoration: none;
}
.navbar-nav li a:hover{
	color: #3a9cd2;
}

.readable_area_wrapper{
	padding-left: 230px;
}
.readable_area{
	background: #fff;
	padding: 20px;
	width: 96%;
	box-shadow: 0px 3px 10px rgba(0 ,0 ,0 ,.1);
	 -moz-box-shadow: 0px 3px 10px rgba(0 ,0 ,0 ,.1);
	-webkit-box-shadow: 0px 3px 10px rgba(0 ,0 ,0 ,.1);
}

.readable_area h1{
	text-transform: uppercase;
}
.readable_area  a{
	color: #0b95dc !important;
}
.h-after-switch{
	float: none;
}
.credentials{
	border: none;
	background: none;
	padding: 10px 0px;
}

.credentials>h2{
	display: none;
}
.credentials label{
	display: inline-block;
	padding-right: 10px;
	float: left;
	margin-top: 2px;
	font-size: 18px;
	font-weight: normal;
	line-height: 25px;
}
.credentials input{
	float: left;
	font-size: 14px;
	line-height: 20px;
	display: block;
	border: 1px solid #ccc;
	padding: 3px 5px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
#controls{
	border: none;
	border-bottom: 1px solid #ccc;
}
#controls ul li a{
	text-decoration: none;
}

.f-left {
	text-align: center;
	float: none;
}
.endpoint{
	background: none;	
}

/*!========= [ Sidebar ] ========== */
#sidebar-wrapper{
	padding: 0;
	clear: both;
}
.sidebar-nav{
	position: fixed;
	margin-top: 20px;
	width: 210px;
	box-shadow: 0px 3px 10px rgba(0 ,0 ,0 ,.1);
	 -moz-box-shadow: 0px 3px 10px rgba(0 ,0 ,0 ,.1);
	-webkit-box-shadow: 0px 3px 10px rgba(0 ,0 ,0 ,.1);
	background: #fff;
}
.sidebar-nav>li{
	border-bottom: 1px solid #f5f5f5;
}
.sidebar-nav>li>a{
	padding: 10px;
	display: block;
	font-weight: bold;
	color: #333;
	-webkit-transition: background-color 600ms ease;
    -moz-transition: background-color 600ms ease;
    -o-transition: background-color 600ms ease;
    -ms-transition: background-color 600ms ease;
    transition: background-color 600ms ease;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
}
.sidebar-nav>li>a:hover{
	text-decoration: none;
	background: #fafafa;
}
.sidebar-nav>li a:hover{
	text-decoration: none;
}
.sidebar-nav>li.current>a{
	background: #0d2132;
	color: #5ccbf4;
}

.sidebar-nav>li>ul{
	display: none;
	padding-left: 20px;
}
.sidebar-nav>li>ul>li{
	padding-top: 5px;
	padding-bottom: 5px;
}
.sidebar-nav>li>ul>li>a{
	color: #666;
}
.sidebar-nav>li>ul>li>a.current{
	color: #5ccbf4;
}
.sidebar-nav>li>ul>li>ul{
	padding-left: 10px;
	display: none;
}
.sidebar-nav>li>ul>li>ul a{
	color: #999;
	font-size: 12px;
	line-height: 10px;
}
.sidebar-nav>li>ul>li>ul a:hover{
	color: #333;
}

@media (min-width: 768px){
	.nav-container{
		width: 750px;
	}
	body{
		width: 720px;
	}
}
@media (min-width: 992px){
	.nav-container{
		width: 970px;
	}
	body{
		width: 940px;
	}
}
@media (min-width: 1200px){
	.nav-container{
		width: 1170px;
	}
	body{
		width: 1140px;
	}
}


