<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"><meta name="viewport" content="width=320, target-densitydpi=device-dpi">
    <title></title>
    <style type="text/css">
        asdf{
            text-align: center;
        }
    </style>
</head>
<body style="font-family:Helvetica;">
<table width="100%" bgcolor="#eee9e7" cellpadding="0" cellspacing="0" border="0" id="background-table">
    <tbody>
    <tr valign="top" align="center" >
        <td>
            <table width="600" bgcolor="#eee9e7" cellpadding="0" cellspacing="0" border="0" class="mail-content" style="margin:50px 0px;">
                <tbody>
                <tr>
                    <td style="line-height:0">
                        <img src="{base_url}image/beforelogin/email-header-top.gif" >
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#86559c;color:#fff;text-align: center;padding:20px;">
                        Thanks for signing up to {sitename}!
                    </td>
                </tr>
                <tr style="line-height:0">
                    <td style="background-color:#86559c;color:#fff;text-align: center;">
                        <img src="{base_url}image/beforelogin/email-header-bottom.gif" >
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" bgcolor="#fff" cellpadding="40" cellspacing="0" border="0" class="mail-content">
                            <tr>
                                <td style="text-align: center;">
                                    <h1 style="font-family:Helvetica;font-size:24px;">Hello {firstname} {lastname} !</h1>
                                    <p style="font-family:Helvetica;font-size:16px;color:#666;margin-bottom:30px">Your account is activated</p>
                                    <p style="font-family:Helvetica;font-size:20px;color:#666;margin-bottom:30px">Username: {username}</p>
                                    <a href="{url}/{key}" style="margin:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;text-decoration:none;border:1px solid #ee5211;padding:10px 20px;display:inline-block;border-radius:4px;background-color:#ee5211;color:white;font-size:17px;font-weight:500;text-align:center;letter-spacing:.5px">Set My Password</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr style="line-height:0">
                    <td>
                        <img src="{base_url}image/beforelogin/email-footer-bottom.gif" >
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>