.box-content {
  padding: 0;
  position: relative; }
  .box-content .control-row, .box-content .result-row {
    border-bottom: 1px solid #ddd; }
    .box-content .control-row.line-up, .box-content .result-row.line-up {
      text-align: center;
      border-bottom: none;
      border-top: 1px solid #ddd; }
      .box-content .control-row.line-up form, .box-content .result-row.line-up form {
        margin-top: 5px; }

.box-content .control-row {
  margin-bottom: 0; }
  .box-content .control-row [class^="span"] {
    height: 50px;
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 0; }
    .box-content .control-row [class^="span"] select {
      height: 31px;
      line-height: 31px;
      padding-top: 0; }
  .box-content .control-row .side-columm {
    line-height: 28px;
    border-right: 1px solid #ddd; }
  .box-content .control-row .form-inline {
    margin: 0 0 10px 0; }
    .box-content .control-row .form-inline.has-border {
      padding-left: 15px;
      border-left: 1px solid #ddd; }
    .box-content .control-row .form-inline label,
    .box-content .control-row .form-inline input {
      margin-right: 10px; }
    .box-content .control-row .form-inline select {
      height: 31px; }
    .box-content .control-row .form-inline .datepicker {
      width: 90px; }

.box-content .result-row {
  border-bottom: none; }
  .box-content .result-row > div {
    height: 430px;
    position: relative;
    overflow: hidden; }
  .box-content .result-row .chart-canvas {
    width: 25.641%;
    margin-left: 0;
    border-left: 1px solid #ddd; }
    .box-content .result-row .chart-canvas .chart {
      margin-left: 10px; }
  .box-content .result-row #playbasis-action-stack-chart,
  .box-content .result-row #playbasis-reward-stack-chart,
  .box-content .result-row #playbasis-user-line-chart {
    height: 380px;
    width: 94%;
    float: inherit;
    margin-top: 20px; }
  .box-content .result-row #playbasis-action-compare-stack-chart,
  .box-content .result-row #playbasis-reward-compare-stack-chart {
    height: 350px;
    width: 94%;
    float: inherit;
    margin-top: 20px; }
  .box-content .result-row #playbasis-user-line-chart {
    width: 98%;
    margin: 20px 10px; }
  .box-content .result-row .side-column {
    border-right: 1px solid #ddd; }
  .box-content .result-row .scroll-container {
    margin: 0;
    overflow-x: hidden; }
    .box-content .result-row .scroll-container ul {
      width: 100%;
      padding: 0;
      margin: 0; }
    .box-content .result-row .scroll-container li {
      width: 100%;
      height: 25px;
      padding: 8px 4px;
      line-height: 25px;
      padding: 5px;
      color: #ffffff;
      font-size: 12px;
      text-transform: capitalize; }
      .box-content .result-row .scroll-container li input {
        margin-top: -2px;
        margin-right: 5px; }
  .box-content .result-row .action-container {
    padding: 10px 5px;
    border-top: 1px solid #ddd; }

.overlay-loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(255, 255, 255, 0.5) url(../img/spinner-mini.gif) no-repeat center center; }

#actionPanel .box-content .result-row .scroll-container {
  height: 390px; }

#rewardPanel .box-content .result-row .scroll-container {
  height: 340px; }

#userPanel .box-content #user-type {
  width: 145px; }
