<div class="rule-box">
    <div class="rule-box-header">
        <i class="{{actionIcon action_id}}"></i>
    </div>
    <div class="rule-box-footer">
        <span>{{actionName action_id}}</span>
    </div>
</div>

{{! <div class="rule-box rule-box-extra">
    <div class="rule-box-header">
        <i class="{icon}"></i>
    </div>
    <div class="rule-box-footer">
        <span class="rule-box-highlight">{quantity}</span>
        <span>{title}</span>
    </div>
</div> }}