@{
    ViewBag.Title = "Welcome ";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.UserName!</h2>
            </hgroup>
            <p>
                Embracing web standards, the new cloud app model gives you maximum choice and flexibility to build a new class of apps for Office and SharePoint using familiar languages, tools, and hosting services. 
                Visit the <a href="http://go.microsoft.com/fwlink/?LinkID=294444" title="Explore the possibilities">Explore</a> section to learn more and to start creating your own apps.
            </p>
            <p>
                If you have any questions about building apps for SharePoint visit
                <a href="http://go.microsoft.com/fwlink/?LinkID=294442" title="Developing Apps for SharePoint 2013 Forum">our forums</a>.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Apps for SharePoint overview</h5>
        SharePoint introduces a Cloud App Model that enables you to create apps. Learn what apps for SharePoint are, why you should build them, and the concepts that are fundamental to building them for SharePoint.
        <a href="http://go.microsoft.com/fwlink/?LinkID=294439">Learn more...</a>
    </li>

    <li class="two">
        <h5>Apps for SharePoint Samples</h5>
        Download apps for SharePoint code samples. New samples are added 
        frequently in JavaScript, C#, and VB.NET.
        <a href="http://go.microsoft.com/fwlink/?LinkID=294440">Learn more...</a>
    </li>

    <li class="three">
        <h5>Developer training</h5>
        Learn about apps for SharePoint with this interactive course offering 
        developer-focused how to training and walkthrough videos.
        <a href="http://go.microsoft.com/fwlink/?LinkID=294441">Learn more...</a>
    </li>
</ol>
