#members tbody tr.odd, #members.display tbody tr.odd {
    background-color: #f9f9f9;
}
#members tbody tr {
    background-color: white;
}
#members tbody tr.odd > .sorting_1, #members.order-column.stripe tbody tr.odd > .sorting_1 {
    background-color: #f1f1f1;
}
#members tbody tr.even > .sorting_1, #members.order-column.stripe tbody tr.even > .sorting_1 {
    background-color: #f9f9f9;
}

#members thead .sorting_asc {
    background: url("../images/sort_asc.png") no-repeat scroll right center rgba(0, 0, 0, 0);
}
#members thead .sorting_asc, #members thead .sorting_desc, #members thead .sorting {
    cursor: pointer;
}
#members thead th, #members thead td {
    border-bottom: 1px solid #111111;
    padding: 10px 18px;
}
#members thead th, #members tfoot th {
    font-weight: bold;
}
#members, #members th, #members td {
    box-sizing: content-box;
}

#members.no-footer {
    border-bottom: 1px solid #111111;
}
#members, #members th, #members td {
    box-sizing: content-box;
}
#members {
    border-collapse: separate;
    border-spacing: 0;
    clear: both;
    margin: 0 auto;
    width: 100%;
}

#members.hover tbody tr:hover, #members.hover tbody tr.odd:hover, #members.hover tbody tr.even:hover, #members.display tbody tr:hover, #members.display tbody tr.odd:hover, #members.display tbody tr.even:hover {
    background-color: whitesmoke;
}
#members.hover tbody tr:hover, #members.hover tbody tr.odd:hover, #members.hover tbody tr.even:hover, #members.display tbody tr:hover, #members.display tbody tr.odd:hover, #members.display tbody tr.even:hover {
    background-color: whitesmoke;
}

.member_wrapper .paging_simple_numbers {
    color: #333333;
}

.member_wrapper .paging_info {
    clear: both;
    float: left;
    padding-top: 0.755em;
}

.member_wrapper .paging_simple_numbers {
    float: right;
    padding-top: 0.25em;
    text-align: right;
}

.member_wrapper .paging_simple_numbers .paginate_button.current, .member_wrapper .paging_simple_numbers .paginate_button.current:hover {
    background: linear-gradient(to bottom, white 0%, gainsboro 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #cacaca;
    color: #333333 !important;
}
.member_wrapper .paging_simple_numbers .paginate_button {
    border: 1px solid transparent;
    box-sizing: border-box;
    color: #333333 !important;
    cursor: pointer;
    display: inline-block;
    margin-left: 2px;
    min-width: 1.5em;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none !important;
}