/* Toggle Background */
.quiz-status {
    display: block;
    width: 90px;
    height: 30px;
    position: relative;
    cursor: pointer;
    background-color: #27ae60;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.quiz-status.enabled {
    background-color: #27ae60;
}
.quiz-status.disabled {
    background-color: #d1d2d4;
}

/* Toggle Button */
.quiz-status-toggle {
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 3px;
    margin: 3px 0;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    line-height: 24px;
    background: #d1d2d4;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.enabled .squiz-status-toggle {
    right: 3px;
    color: #fff;
    background: #d1d2d4;
}
.disabled .quiz-status-toggle {
    right: 62px;
    color: #7f8c8d;
    background: #7f8c8d;
}

/* Toggle Text */
.quiz-status-toggle span {
    margin: 0 0 0 -50px;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.enabled .quiz-status-toggle span {
    margin: 0 0 0 -50px;
}
.disabled .quiz-status-toggle span {
    margin: 0 0 0 30px;
}





.grades-range{
    width: 40px;
}


.each-email-template,
.each-sms-template,
.each-push-template{
    padding: 5px 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
    border-radius: 6px;
}