@font-face{
  font-family:'FontAwesome';
  src:url('../font/fontawesome-webfont.eot?v=3.0.1');
  src:url('../font/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
  url('../font/fontawesome-webfont.woff?v=3.0.1') format('woff'),
  url('../font/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight:normal;
  font-style:normal }

[class^="icon-"],[class*=" icon-"]{font-family:FontAwesome;font-weight:normal;font-style:normal;text-decoration:inherit;-webkit-font-smoothing:antialiased;display:inline;width:auto;height:auto;line-height:normal;vertical-align:baseline;background-image:none;background-position:0 0;background-repeat:repeat;margin-top:0}.icon-white,.nav-pills>.active>a>[class^="icon-"],.nav-pills>.active>a>[class*=" icon-"],.nav-list>.active>a>[class^="icon-"],.nav-list>.active>a>[class*=" icon-"],.navbar-inverse .nav>.active>a>[class^="icon-"],.navbar-inverse .nav>.active>a>[class*=" icon-"],.dropdown-menu>li>a:hover>[class^="icon-"],.dropdown-menu>li>a:hover>[class*=" icon-"],.dropdown-menu>.active>a>[class^="icon-"],.dropdown-menu>.active>a>[class*=" icon-"],.dropdown-submenu:hover>a>[class^="icon-"],.dropdown-submenu:hover>a>[class*=" icon-"]{background-image:none}[class^="icon-"]:before,[class*=" icon-"]:before{text-decoration:inherit;display:inline-block;speak:none}a [class^="icon-"],a [class*=" icon-"]{display:inline-block}.icon-large:before{vertical-align:-10%;font-size:1.3333333333333333em}.btn [class^="icon-"],.nav [class^="icon-"],.btn [class*=" icon-"],.nav [class*=" icon-"]{display:inline}.btn [class^="icon-"].icon-large,.nav [class^="icon-"].icon-large,.btn [class*=" icon-"].icon-large,.nav [class*=" icon-"].icon-large{line-height:.9em}.btn [class^="icon-"].icon-spin,.nav [class^="icon-"].icon-spin,.btn [class*=" icon-"].icon-spin,.nav [class*=" icon-"].icon-spin{display:inline-block}.nav-tabs [class^="icon-"],.nav-pills [class^="icon-"],.nav-tabs [class*=" icon-"],.nav-pills [class*=" icon-"],.nav-tabs [class^="icon-"].icon-large,.nav-pills [class^="icon-"].icon-large,.nav-tabs [class*=" icon-"].icon-large,.nav-pills [class*=" icon-"].icon-large{line-height:.9em}li [class^="icon-"],.nav li [class^="icon-"],li [class*=" icon-"],.nav li [class*=" icon-"]{display:inline-block;width:1.25em;text-align:center}li [class^="icon-"].icon-large,.nav li [class^="icon-"].icon-large,li [class*=" icon-"].icon-large,.nav li [class*=" icon-"].icon-large{width:1.5625em}ul.icons{list-style-type:none;text-indent:-0.75em}ul.icons li [class^="icon-"],ul.icons li [class*=" icon-"]{width:.75em}.icon-muted{color:#eee}.icon-border{border:solid 1px #eee;padding:.2em .25em .15em;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}.icon-2x{font-size:2em}.icon-2x.icon-border{border-width:2px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.icon-3x{font-size:3em}.icon-3x.icon-border{border-width:3px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}.icon-4x{font-size:4em}.icon-4x.icon-border{border-width:4px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px}.pull-right{float:right}.pull-left{float:left}[class^="icon-"].pull-left,[class*=" icon-"].pull-left{margin-right:.3em}[class^="icon-"].pull-right,[class*=" icon-"].pull-right{margin-left:.3em}.btn [class^="icon-"].pull-left.icon-2x,.btn [class*=" icon-"].pull-left.icon-2x,.btn [class^="icon-"].pull-right.icon-2x,.btn [class*=" icon-"].pull-right.icon-2x{margin-top:.18em}.btn [class^="icon-"].icon-spin.icon-large,.btn [class*=" icon-"].icon-spin.icon-large{line-height:.8em}.btn.btn-small [class^="icon-"].pull-left.icon-2x,.btn.btn-small [class*=" icon-"].pull-left.icon-2x,.btn.btn-small [class^="icon-"].pull-right.icon-2x,.btn.btn-small [class*=" icon-"].pull-right.icon-2x{margin-top:.25em}.btn.btn-large [class^="icon-"],.btn.btn-large [class*=" icon-"]{margin-top:0}.btn.btn-large [class^="icon-"].pull-left.icon-2x,.btn.btn-large [class*=" icon-"].pull-left.icon-2x,.btn.btn-large [class^="icon-"].pull-right.icon-2x,.btn.btn-large [class*=" icon-"].pull-right.icon-2x{margin-top:.05em}.btn.btn-large [class^="icon-"].pull-left.icon-2x,.btn.btn-large [class*=" icon-"].pull-left.icon-2x{margin-right:.2em}.btn.btn-large [class^="icon-"].pull-right.icon-2x,.btn.btn-large [class*=" icon-"].pull-right.icon-2x{margin-left:.2em}.icon-spin{display:inline-block;-moz-animation:spin 2s infinite linear;-o-animation:spin 2s infinite linear;-webkit-animation:spin 2s infinite linear;animation:spin 2s infinite linear}@-moz-keyframes spin{0%{-moz-transform:rotate(0deg)}100%{-moz-transform:rotate(359deg)}}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg)}}@-o-keyframes spin{0%{-o-transform:rotate(0deg)}100%{-o-transform:rotate(359deg)}}@-ms-keyframes spin{0%{-ms-transform:rotate(0deg)}100%{-ms-transform:rotate(359deg)}}@keyframes spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}@-moz-document url-prefix(){.icon-spin{height:.9em}.btn .icon-spin{height:auto}.icon-spin.icon-large{height:1.25em}.btn .icon-spin.icon-large{height:.75em}}.icon-glass:before{content:"\f000"}.icon-music:before{content:"\f001"}.icon-search:before{content:"\f002"}.icon-envelope:before{content:"\f003"}.icon-heart:before{content:"\f004"}.icon-star:before{content:"\f005"}.icon-star-empty:before{content:"\f006"}.icon-user:before{content:"\f007"}.icon-film:before{content:"\f008"}.icon-th-large:before{content:"\f009"}.icon-th:before{content:"\f00a"}.icon-th-list:before{content:"\f00b"}.icon-ok:before{content:"\f00c"}.icon-remove:before{content:"\f00d"}.icon-zoom-in:before{content:"\f00e"}.icon-zoom-out:before{content:"\f010"}.icon-off:before{content:"\f011"}.icon-signal:before{content:"\f012"}.icon-cog:before{content:"\f013"}.icon-trash:before{content:"\f014"}.icon-home:before{content:"\f015"}.icon-file:before{content:"\f016"}.icon-time:before{content:"\f017"}.icon-road:before{content:"\f018"}.icon-download-alt:before{content:"\f019"}.icon-download:before{content:"\f01a"}.icon-upload:before{content:"\f01b"}.icon-inbox:before{content:"\f01c"}.icon-play-circle:before{content:"\f01d"}.icon-repeat:before{content:"\f01e"}.icon-refresh:before{content:"\f021"}.icon-list-alt:before{content:"\f022"}.icon-lock:before{content:"\f023"}.icon-flag:before{content:"\f024"}.icon-headphones:before{content:"\f025"}.icon-volume-off:before{content:"\f026"}.icon-volume-down:before{content:"\f027"}.icon-volume-up:before{content:"\f028"}.icon-qrcode:before{content:"\f029"}.icon-barcode:before{content:"\f02a"}.icon-tag:before{content:"\f02b"}.icon-tags:before{content:"\f02c"}.icon-book:before{content:"\f02d"}.icon-bookmark:before{content:"\f02e"}.icon-print:before{content:"\f02f"}.icon-camera:before{content:"\f030"}.icon-font:before{content:"\f031"}.icon-bold:before{content:"\f032"}.icon-italic:before{content:"\f033"}.icon-text-height:before{content:"\f034"}.icon-text-width:before{content:"\f035"}.icon-align-left:before{content:"\f036"}.icon-align-center:before{content:"\f037"}.icon-align-right:before{content:"\f038"}.icon-align-justify:before{content:"\f039"}.icon-list:before{content:"\f03a"}.icon-indent-left:before{content:"\f03b"}.icon-indent-right:before{content:"\f03c"}.icon-facetime-video:before{content:"\f03d"}.icon-picture:before{content:"\f03e"}.icon-pencil:before{content:"\f040"}.icon-map-marker:before{content:"\f041"}.icon-adjust:before{content:"\f042"}.icon-tint:before{content:"\f043"}.icon-edit:before{content:"\f044"}.icon-share:before{content:"\f045"}.icon-check:before{content:"\f046"}.icon-move:before{content:"\f047"}.icon-step-backward:before{content:"\f048"}.icon-fast-backward:before{content:"\f049"}.icon-backward:before{content:"\f04a"}.icon-play:before{content:"\f04b"}.icon-pause:before{content:"\f04c"}.icon-stop:before{content:"\f04d"}.icon-forward:before{content:"\f04e"}.icon-fast-forward:before{content:"\f050"}.icon-step-forward:before{content:"\f051"}.icon-eject:before{content:"\f052"}.icon-chevron-left:before{content:"\f053"}.icon-chevron-right:before{content:"\f054"}.icon-plus-sign:before{content:"\f055"}.icon-minus-sign:before{content:"\f056"}.icon-remove-sign:before{content:"\f057"}.icon-ok-sign:before{content:"\f058"}.icon-question-sign:before{content:"\f059"}.icon-info-sign:before{content:"\f05a"}.icon-screenshot:before{content:"\f05b"}.icon-remove-circle:before{content:"\f05c"}.icon-ok-circle:before{content:"\f05d"}.icon-ban-circle:before{content:"\f05e"}.icon-arrow-left:before{content:"\f060"}.icon-arrow-right:before{content:"\f061"}.icon-arrow-up:before{content:"\f062"}.icon-arrow-down:before{content:"\f063"}.icon-share-alt:before{content:"\f064"}.icon-resize-full:before{content:"\f065"}.icon-resize-small:before{content:"\f066"}.icon-plus:before{content:"\f067"}.icon-minus:before{content:"\f068"}.icon-asterisk:before{content:"\f069"}.icon-exclamation-sign:before{content:"\f06a"}.icon-gift:before{content:"\f06b"}.icon-leaf:before{content:"\f06c"}.icon-fire:before{content:"\f06d"}.icon-eye-open:before{content:"\f06e"}.icon-eye-close:before{content:"\f070"}.icon-warning-sign:before{content:"\f071"}.icon-plane:before{content:"\f072"}.icon-calendar:before{content:"\f073"}.icon-random:before{content:"\f074"}.icon-comment:before{content:"\f075"}.icon-magnet:before{content:"\f076"}.icon-chevron-up:before{content:"\f077"}.icon-chevron-down:before{content:"\f078"}.icon-retweet:before{content:"\f079"}.icon-shopping-cart:before{content:"\f07a"}.icon-folder-close:before{content:"\f07b"}.icon-folder-open:before{content:"\f07c"}.icon-resize-vertical:before{content:"\f07d"}.icon-resize-horizontal:before{content:"\f07e"}.icon-bar-chart:before{content:"\f080"}.icon-twitter-sign:before{content:"\f081"}.icon-facebook-sign:before{content:"\f082"}.icon-camera-retro:before{content:"\f083"}.icon-key:before{content:"\f084"}.icon-cogs:before{content:"\f085"}.icon-comments:before{content:"\f086"}.icon-thumbs-up:before{content:"\f087"}.icon-thumbs-down:before{content:"\f088"}.icon-star-half:before{content:"\f089"}.icon-heart-empty:before{content:"\f08a"}.icon-signout:before{content:"\f08b"}.icon-linkedin-sign:before{content:"\f08c"}.icon-pushpin:before{content:"\f08d"}.icon-external-link:before{content:"\f08e"}.icon-signin:before{content:"\f090"}.icon-trophy:before{content:"\f091"}.icon-github-sign:before{content:"\f092"}.icon-upload-alt:before{content:"\f093"}.icon-lemon:before{content:"\f094"}.icon-phone:before{content:"\f095"}.icon-check-empty:before{content:"\f096"}.icon-bookmark-empty:before{content:"\f097"}.icon-phone-sign:before{content:"\f098"}.icon-twitter:before{content:"\f099"}.icon-facebook:before{content:"\f09a"}.icon-github:before{content:"\f09b"}.icon-unlock:before{content:"\f09c"}.icon-credit-card:before{content:"\f09d"}.icon-rss:before{content:"\f09e"}.icon-hdd:before{content:"\f0a0"}.icon-bullhorn:before{content:"\f0a1"}.icon-bell:before{content:"\f0a2"}.icon-certificate:before{content:"\f0a3"}.icon-hand-right:before{content:"\f0a4"}.icon-hand-left:before{content:"\f0a5"}.icon-hand-up:before{content:"\f0a6"}.icon-hand-down:before{content:"\f0a7"}.icon-circle-arrow-left:before{content:"\f0a8"}.icon-circle-arrow-right:before{content:"\f0a9"}.icon-circle-arrow-up:before{content:"\f0aa"}.icon-circle-arrow-down:before{content:"\f0ab"}.icon-globe:before{content:"\f0ac"}.icon-wrench:before{content:"\f0ad"}.icon-tasks:before{content:"\f0ae"}.icon-filter:before{content:"\f0b0"}.icon-briefcase:before{content:"\f0b1"}.icon-fullscreen:before{content:"\f0b2"}.icon-group:before{content:"\f0c0"}.icon-link:before{content:"\f0c1"}.icon-cloud:before{content:"\f0c2"}.icon-beaker:before{content:"\f0c3"}.icon-cut:before{content:"\f0c4"}.icon-copy:before{content:"\f0c5"}.icon-paper-clip:before{content:"\f0c6"}.icon-save:before{content:"\f0c7"}.icon-sign-blank:before{content:"\f0c8"}.icon-reorder:before{content:"\f0c9"}.icon-list-ul:before{content:"\f0ca"}.icon-list-ol:before{content:"\f0cb"}.icon-strikethrough:before{content:"\f0cc"}.icon-underline:before{content:"\f0cd"}.icon-table:before{content:"\f0ce"}.icon-magic:before{content:"\f0d0"}.icon-truck:before{content:"\f0d1"}.icon-pinterest:before{content:"\f0d2"}.icon-pinterest-sign:before{content:"\f0d3"}.icon-google-plus-sign:before{content:"\f0d4"}.icon-google-plus:before{content:"\f0d5"}.icon-money:before{content:"\f0d6"}.icon-caret-down:before{content:"\f0d7"}.icon-caret-up:before{content:"\f0d8"}.icon-caret-left:before{content:"\f0d9"}.icon-caret-right:before{content:"\f0da"}.icon-columns:before{content:"\f0db"}.icon-sort:before{content:"\f0dc"}.icon-sort-down:before{content:"\f0dd"}.icon-sort-up:before{content:"\f0de"}.icon-envelope-alt:before{content:"\f0e0"}.icon-linkedin:before{content:"\f0e1"}.icon-undo:before{content:"\f0e2"}.icon-legal:before{content:"\f0e3"}.icon-dashboard:before{content:"\f0e4"}.icon-comment-alt:before{content:"\f0e5"}.icon-comments-alt:before{content:"\f0e6"}.icon-bolt:before{content:"\f0e7"}.icon-sitemap:before{content:"\f0e8"}.icon-umbrella:before{content:"\f0e9"}.icon-paste:before{content:"\f0ea"}.icon-lightbulb:before{content:"\f0eb"}.icon-exchange:before{content:"\f0ec"}.icon-cloud-download:before{content:"\f0ed"}.icon-cloud-upload:before{content:"\f0ee"}.icon-user-md:before{content:"\f0f0"}.icon-stethoscope:before{content:"\f0f1"}.icon-suitcase:before{content:"\f0f2"}.icon-bell-alt:before{content:"\f0f3"}.icon-coffee:before{content:"\f0f4"}.icon-food:before{content:"\f0f5"}.icon-file-alt:before{content:"\f0f6"}.icon-building:before{content:"\f0f7"}.icon-hospital:before{content:"\f0f8"}.icon-ambulance:before{content:"\f0f9"}.icon-medkit:before{content:"\f0fa"}.icon-fighter-jet:before{content:"\f0fb"}.icon-beer:before{content:"\f0fc"}.icon-h-sign:before{content:"\f0fd"}.icon-plus-sign-alt:before{content:"\f0fe"}.icon-double-angle-left:before{content:"\f100"}.icon-double-angle-right:before{content:"\f101"}.icon-double-angle-up:before{content:"\f102"}.icon-double-angle-down:before{content:"\f103"}.icon-angle-left:before{content:"\f104"}.icon-angle-right:before{content:"\f105"}.icon-angle-up:before{content:"\f106"}.icon-angle-down:before{content:"\f107"}.icon-desktop:before{content:"\f108"}.icon-laptop:before{content:"\f109"}.icon-tablet:before{content:"\f10a"}.icon-mobile-phone:before{content:"\f10b"}.icon-circle-blank:before{content:"\f10c"}.icon-quote-left:before{content:"\f10d"}.icon-quote-right:before{content:"\f10e"}.icon-spinner:before{content:"\f110"}.icon-circle:before{content:"\f111"}.icon-reply:before{content:"\f112"}.icon-github-alt:before{content:"\f113"}.icon-folder-close-alt:before{content:"\f114"}.icon-folder-open-alt:before{content:"\f115"}

/*main.css*/
.trace,.trace * {
outline:1px solid red
}

/*************************
 * Player Isotype Styling
 *************************/

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.6s;
     -moz-transition-duration: 0.6s;
      -ms-transition-duration: 0.6s;
       -o-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** Disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* disable CSS transitions for containers with infinite scrolling*/

.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}

/**** Player Isotope CSS3 transitions ****/

.isot-player,
.isot-player-points,
.isot-player-portrait img {
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

/* End: Isotope CSS3 transitions */

/* Isotope gradients */

.isot-player-online {
  background-color: #42b452;
  background-image: -moz-linear-gradient(top, #42b452, #479947);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#42b452), to(#479947));
  background-image: -webkit-linear-gradient(top, #42b452, #479947);
  background-image: -o-linear-gradient(top, #42b452, #479947);
  background-image: linear-gradient(to bottom, #42b452, #479947);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff42b452', endColorstr='#ff479947', GradientType=0);
}
.isot-player-engaged {
  background-color: #018eb9;
  background-image: -moz-linear-gradient(top, #019ec9, #017ea9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#019ec9), to(#017ea9));
  background-image: -webkit-linear-gradient(top, #019ec9, #017ea9);
  background-image: -o-linear-gradient(top, #019ec9, #017ea9);
  background-image: linear-gradient(to bottom, #019ec9, #017ea9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff019ec9', endColorstr='#ff017ea9', GradientType=0);
}
.isot-player-inactive {
  background-color: #da8712;
  background-image: -moz-linear-gradient(top, #db9430, #d87403);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#db9430), to(#d87403));
  background-image: -webkit-linear-gradient(top, #db9430, #d87403);
  background-image: -o-linear-gradient(top, #db9430, #d87403);
  background-image: linear-gradient(to bottom, #db9430, #d87403);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdb9430', endColorstr='#ffd87403', GradientType=0);
}
.isot-player-banned {
  background-color: #bd312c;
  background-image: -moz-linear-gradient(top, #ce3f3b, #a41c15);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ce3f3b), to(#a41c15));
  background-image: -webkit-linear-gradient(top, #ce3f3b, #a41c15);
  background-image: -o-linear-gradient(top, #ce3f3b, #a41c15);
  background-image: linear-gradient(to bottom, #ce3f3b, #a41c15);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffce3f3b', endColorstr='#ffa41c15', GradientType=0);
}

.level-group-0 {
  background-color: #32a442;
  background-image: -moz-linear-gradient(top, #42b452, #229432);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#42b452), to(#229432));
  background-image: -webkit-linear-gradient(top, #42b452, #229432);
  background-image: -o-linear-gradient(top, #42b452, #229432);
  background-image: linear-gradient(to bottom, #42b452, #229432);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff42b452', endColorstr='#ff229432', GradientType=0);
}
.level-group-1 {
  background-color: #259c56;
  background-image: -moz-linear-gradient(top, #35ac66, #158c46);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#35ac66), to(#158c46));
  background-image: -webkit-linear-gradient(top, #35ac66, #158c46);
  background-image: -o-linear-gradient(top, #35ac66, #158c46);
  background-image: linear-gradient(to bottom, #35ac66, #158c46);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff35ac66', endColorstr='#ff158c46', GradientType=0);
}
.level-group-2 {
  background-color: #18956a;
  background-image: -moz-linear-gradient(top, #28a57a, #08855a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#28a57a), to(#08855a));
  background-image: -webkit-linear-gradient(top, #28a57a, #08855a);
  background-image: -o-linear-gradient(top, #28a57a, #08855a);
  background-image: linear-gradient(to bottom, #28a57a, #08855a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff28a57a', endColorstr='#ff08855a', GradientType=0);
}
.level-group-3 {
  background-color: #0b8d7f;
  background-image: -moz-linear-gradient(top, #1b9d8f, #097d6f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1b9d8f), to(#097d6f));
  background-image: -webkit-linear-gradient(top, #1b9d8f, #097d6f);
  background-image: -o-linear-gradient(top, #1b9d8f, #097d6f);
  background-image: linear-gradient(to bottom, #1b9d8f, #097d6f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1b9d8f', endColorstr='#ff097d6f', GradientType=0);
}
.level-group-4 {
  background-color: #0b8694;
  background-image: -moz-linear-gradient(top, #0e96a4, #067684);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0e96a4), to(#067684));
  background-image: -webkit-linear-gradient(top, #0e96a4, #067684);
  background-image: -o-linear-gradient(top, #0e96a4, #067684);
  background-image: linear-gradient(to bottom, #0e96a4, #067684);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0e96a4', endColorstr='#ff067684', GradientType=0);
}
.level-group-5 {
  background-color: #018eb9;
  background-image: -moz-linear-gradient(top, #019ec9, #017ea9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#019ec9), to(#017ea9));
  background-image: -webkit-linear-gradient(top, #019ec9, #017ea9);
  background-image: -o-linear-gradient(top, #019ec9, #017ea9);
  background-image: linear-gradient(to bottom, #019ec9, #017ea9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff019ec9', endColorstr='#ff017ea9', GradientType=0);
}
.level-group-6 {
  background-color: #166b8d;
  background-image: -moz-linear-gradient(top, #267b9d, #065b7d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#267b9d), to(#065b7d));
  background-image: -webkit-linear-gradient(top, #267b9d, #065b7d);
  background-image: -o-linear-gradient(top, #267b9d, #065b7d);
  background-image: linear-gradient(to bottom, #267b9d, #065b7d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff267b9d', endColorstr='#ff065b7d', GradientType=0);
}
.level-group-7 {
  background-color: #3b5971;
  background-image: -moz-linear-gradient(top, #4b6981, #2b4961);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4b6981), to(#2b4961));
  background-image: -webkit-linear-gradient(top, #4b6981, #2b4961);
  background-image: -o-linear-gradient(top, #4b6981, #2b4961);
  background-image: linear-gradient(to bottom, #4b6981, #2b4961);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4b6981', endColorstr='#ff2b4961', GradientType=0);
}
.level-group-8 {
  background-color: #634654;
  background-image: -moz-linear-gradient(top, #735664, #533644);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#735664), to(#533644));
  background-image: -webkit-linear-gradient(top, #735664, #533644);
  background-image: -o-linear-gradient(top, #735664, #533644);
  background-image: linear-gradient(to bottom, #735664, #533644);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff735664', endColorstr='#ff533644', GradientType=0);
}
.level-group-9 {
  background-color: #873439;
  background-image: -moz-linear-gradient(top, #974449, #772429);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#974449), to(#772429));
  background-image: -webkit-linear-gradient(top, #974449, #772429);
  background-image: -o-linear-gradient(top, #974449, #772429);
  background-image: linear-gradient(to bottom, #974449, #772429);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff974449', endColorstr='#ff772429', GradientType=0);
}
.level-group-10 {
  background-color: #bd312c;
  background-image: -moz-linear-gradient(top, #ce3f3b, #a41c15);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ce3f3b), to(#a41c15));
  background-image: -webkit-linear-gradient(top, #ce3f3b, #a41c15);
  background-image: -o-linear-gradient(top, #ce3f3b, #a41c15);
  background-image: linear-gradient(to bottom, #ce3f3b, #a41c15);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffce3f3b', endColorstr='#ffa41c15', GradientType=0);
}

/* End: Isotope gradients */

/* General styles for player Isotope */
.isot-player small {
  font-size: 13px;
  font-variant: small-caps;
}
.isot-player ul {
  list-style: none;
}

/* Player Isotope container styles
 * Animates using default Isotope animation to avoid conflicts */
.isot-player-container {
  float: left;
  margin: 0 8px 8px 0;
  width: 102px;
  height: 102px;
  cursor: pointer;
}
.isot-player-container.large {
  width: 322px;
  height: 322px;
  cursor: auto;
}

/* Player Isotope styles
 * Animates separately from container to avoid conflicts with Isotope */
.isot-player {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
  background: #fcfcfc;
  font-size: 13px;
  line-height: 16px;
  color: #000;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}
  .isot-player:hover {
    border: #019ec9 solid 1px;
  }
/* Expanded styles */
.large .isot-player {
  width: 320px;
  height: 320px;
}

/* Player Isotope portrait styles */
.isot-player-portrait img {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 5px;
  left: 5px;
  background: #fcfcfc;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}
/* Expanded styles */
.large .isot-player-portrait img {
  width: 100px;
  height: 100px;
  top: 10px;
  left: 10px;
}

/* Player Isotope points styles */
.isot-player-points {
  height: 15px;
  background-color: rgb(245,245,245);
  background-color: rgba(255,255,255,0.6);
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
  line-height: 15px;
}
  .isot-player-points span {
    margin-left: 2px;
  }
  .isot-player-points small {
    display: none;
  }
/* Expanded styles */
.large .isot-player-points {
  height: 30px;
  bottom: 10px;
  left: 10px;
  font-size: 15px;
  font-weight: bold;
  line-height: 30px;
  background-color: #c7c7c7;
  background-image: -moz-linear-gradient(top, #ddd, #ccc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ddd), to(#ccc));
  background-image: -webkit-linear-gradient(top, #ddd, #ccc);
  background-image: -o-linear-gradient(top, #ddd, #ccc);
  background-image: linear-gradient(to bottom, #ddd, #ccc);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ddd', endColorstr='#ccc', GradientType=0);
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}
  .large .isot-player-points span {
    margin-left: 10px;
  }
  .large .isot-player-points small {
    display: inline;
  }

/* Player Isotope level styles */
.isot-player-level {
  width: 54px;
  height: 54px;
  position: absolute;
  bottom: 0;
  right: 0;
  /*background: url(../../image/level.svg) bottom right no-repeat;*/
}
  .isot-player-level span {
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    text-shadow: 0 -1px rgb(0,0,0);
    text-shadow: 0 -1px rgba(0,0,0,0.6);
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
  .isot-player-level.isot-player-level-hundreds span {
    font-size: 16px;
  }

/* Player Isotope name/email styles */
.isot-player-contact-container {
  height: 51px;
  width: 100%;
  position: absolute;
  bottom: 269px;
  left: 0;
  color: #fff;
}
  .isot-player-contact {
    width: 190px;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 120px;
    padding-top: 12px;
  }
    /* Player Isotope name styles */
    .isot-player-name {
      font-size: 16px;
      line-height: 18px;
      font-weight: normal;
      text-shadow: 0 -1px rgb(0,0,0);
      text-shadow: 0 -1px rgba(0,0,0,0.6);
    }
    /* Player Isotope email styles */
    .isot-player-email {
      font-family: 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: 200;
    }

/* Player Isotope action bar styles */
.isot-player-actions-container {
  height: 29px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 240px;
  border-top: #000 solid 1px;
  background: #1a1a1a url(../../image/custom/dbg.jpg);
}
  .isot-player-actions {
    padding-left: 110px;
  }
    .isot-player-actions li {
      float:left;
      width: 15px;
      height: 15px;
      padding: 5px 12px;
      cursor: pointer;
      text-align: center;
      color: #999;
      -webkit-transition: all 0.3s ease-in-out;
         -moz-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
           -o-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out;
    }
    .isot-player-actions li:hover {
      background: #000;
      color: #fff;
    }

/* Player Isotope date styles */
.isot-player-dates-container {
  height: 30px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 210px;
}
  .isot-player-dates {
    padding: 2px 10px 0 120px;
  }
    /* date header style */
    .isot-player-dates h6 {
      font-size: 13px;
      line-height: 13px;
      letter-spacing: 1px;
      font-variant: small-caps;
      margin: 0;
    }
    /* date joined */
    .isot-player-joined {
      float: left;
      text-align: left;
    }
    /* date last active */
    .isot-player-last-active {
      float: right;
      text-align: right;
    }

/* Player Isotope minimize button styles */
.isot-player-minimize {
  width: 35px;
  height: 35px;
  position: absolute;
  bottom: 285px;
  right: 0;
  color: #ccc;
  opacity: 0.6;
  background: url(../../image/close.svg) top right no-repeat;
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
  .isot-player-minimize:hover {
    color: #fff;
    opacity: 1;
  }
  .isot-player-minimize span {
    cursor: pointer;
    font-size: 14px;
    line-height: 14px;
    text-shadow: 0 -1px rgb(0,0,0);
    text-shadow: 0 -1px rgba(0,0,0,0.6);
    position: absolute;
    top: 3px;
    right: 4px;
  }

/* Player Isotope common actions / recent badges container */
.isot-player-activity-list {
  position: absolute;
  left: 10px;
  right: 9px;
  top: 116px;
}
  .isot-player-activity-list h5 {
    margin-bottom: 6px;
    font-size: 13px;
    line-height: 15px;
    font-weight: normal;
  }
  .isot-player-activity-list ul {
    width: 100%;
    height: 64px;
    overflow: hidden;
  }
  .isot-player-activity-list li {
    float: left;
    width: 40px;
    height: 64px;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    margin-right: 3px;
  }

/* Player Isotope common actions */
.isot-player-common-action  { }
  /* Action Icon */
  .isot-player-common-action-icon {
    float: left;
    width: 40px;
    height: 26px;
    color: #2b91af;
  }
  /* Action Quantity/Name */
  .isot-player-common-action span {
    float: left;
    width: 40px;
    line-height: 14px;
  }
  /* Action Quantity */
  .isot-player-common-action-quantity {
    color: #2b91af;
  }
  /* Action Name */
  .isot-player-common-action-name {
    color: #999;
  }

/* Player Isotope recent badges */
.isot-player-recent-badges {
  top: 196px;
}

/* Player Isotope player status(active, inactive) styles */
.isot-player-status {
  height: 30px;
  width: 110px;
  position: absolute;
  top: 280px;
  left: 10px;
  color: white;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 -1px rgb(0,0,0);
  text-shadow: 0 -1px rgba(0,0,0,0.6);
  font-size: 16px;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}