<?xml version="1.0"?>
<!-- 
/**
 * @category   Playbasis
 * @package    Playbasis_Gamify
 * @author     ModuleCreator
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <Playbasis_Gamify>
            <version>0.1.0</version>
        </Playbasis_Gamify>
    </modules>
    <frontend>
        <routers>
            <gamify>
                <use>standard</use>
                <args>
                    <module>Playbasis_Gamify</module>
                    <frontName>gamify</frontName>
                </args>
            </gamify>
        </routers>
        <layout>
            <updates>
                <gamify>
                    <file>gamify.xml</file>
                </gamify>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<gamify>
				<use>admin</use>
				<args>
					<module>Playbasis_Gamify</module>
					<frontName>gamify</frontName>
				</args>
			</gamify>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<gamify module="gamify">
				<title>Gamify</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="gamify">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>gamify/adminhtml_gamify</action>
					</items>
				</children>
			</gamify>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Playbasis_Gamify>
							<title>Gamify Module</title>
							<sort_order>10</sort_order>
						</Playbasis_Gamify>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<gamify>
					<file>gamify.xml</file>
				</gamify>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <gamify>
                <class>Playbasis_Gamify_Model</class>
                <resourceModel>gamify_mysql4</resourceModel>
            </gamify>
            <gamify_mysql4>
                <class>Playbasis_Gamify_Model_Mysql4</class>
                <entities>
                    <gamify>
                        <table>gamify</table>
                    </gamify>
                </entities>
            </gamify_mysql4>
        </models>
        <events>
            <model_load_after>
                <observers>
                    <Playbasis_gamify_model_observer>
                        <type>singleton</type>
                        <class>Playbasis_Gamify_Model_Observer</class>
                        <method>auth</method>
                    </Playbasis_gamify_model_observer>
                </observers>
            </model_load_after>
            <customer_register_success>
                <observers>
                    <Playbasis_gamify_model_observer>
                        <type>singleton</type>
                        <class>Playbasis_Gamify_Model_Observer</class>
                        <method>register</method>
                    </Playbasis_gamify_model_observer>
                </observers>
            </customer_register_success>
            <customer_login>
                <observers>
                    <Playbasis_gamify_model_observer>
                        <type>singleton</type>
                        <class>Playbasis_Gamify_Model_Observer</class>
                        <method>login</method>
                    </Playbasis_gamify_model_observer>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <Playbasis_gamify_model_observer>
                        <type>singleton</type>
                        <class>Playbasis_Gamify_Model_Observer</class>
                        <method>logout</method>
                    </Playbasis_gamify_model_observer>
                </observers>
            </customer_logout>
            <checkout_cart_add_product_complete>
                <observers>
                    <Playbasis_gamify_model_observer>
                        <type>singleton</type>
                        <class>Playbasis_Gamify_Model_Observer</class>
                        <method>addToCart</method>
                    </Playbasis_gamify_model_observer>
                </observers>
            </checkout_cart_add_product_complete>
            <wishlist_add_product>
                <observers>
                    <Playbasis_gamify_model_observer>
                        <type>singleton</type>
                        <class>Playbasis_Gamify_Model_Observer</class>
                        <method>addToWishlist</method>
                    </Playbasis_gamify_model_observer>
                </observers>
            </wishlist_add_product>
            <sales_order_payment_place_end>
                <observers>
                    <Playbasis_gamify_model_observer>
                        <type>singleton</type>
                        <class>Playbasis_Gamify_Model_Observer</class>
                        <method>placeOrder</method>
                    </Playbasis_gamify_model_observer>
                </observers>
            </sales_order_payment_place_end>
        </events>
        <resources>
            <gamify_setup>
                <setup>
                    <module>Playbasis_Gamify</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </gamify_setup>
            <gamify_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </gamify_write>
            <gamify_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </gamify_read>
        </resources>
        <blocks>
            <gamify>
                <class>Playbasis_Gamify_Block</class>
            </gamify>
        </blocks>
        <helpers>
            <gamify>
                <class>Playbasis_Gamify_Helper</class>
            </gamify>
        </helpers>
    </global>
</config>