.activated-wrapper{
	background: url(../../image/beforelogin/activated-bg.jpg) no-repeat left top;
	background-size: cover;
	height: 100%;
	width: 100%;
	min-height: 800px;
	padding-top: 100px;
	.modal-card{
		margin-left: auto;
		margin-right: auto;
	}
}