.activated-wrapper{
	background: url(../../image/beforelogin/activated-bg.jpg) no-repeat left top;
	background-size: cover;
	height: 100%;
	width: 100%;
	min-height: 800px;
	padding-top: 100px;
	.modal-card{
		margin-left: auto;
		margin-right: auto;
	}
}

.intl-tel-input .flag-dropdown{
	z-index: 100;
	text-align: left;
}
.intl-tel-input .country-list{
	width: 400px;
}
// account-verify-wrapper
.account-verify-wrapper {
	.modal-card-head > img{
		margin-top: 10px;
	}
	.form{
		input.form-control{
		  height: 35px;
		  width: auto;
		  display: inline;
		  border-radius: 0;
		}
		.input-group{
		  margin-left: auto;
		  margin-right: auto;
		  button{
		    background: #f05a1b;
		    border-radius: 0;
		    border: none;
		    height: 35px;
		    line-height: 35px;
		    padding: 0 12px;
		    vertical-align: top;
		  }
		}
		input.code-input{
		  width: 120px;
		}
		.error{
			color: #f05a1b;
			font-size: 12px;
		}
	}
}
